@page "/"
@inject SessionStorage SessionStorage
@inject LocalStorage LocalStorage
@inject HttpClient Http

@inject IJSRuntime  js;
@using Blazor.Extensions.Storage.Test.Interop;
@using Microsoft.JSInterop;

<h1>Session and Local Storage Test, Open up your browser devtools to see the logs!</h1>
@functions {
    private WeatherForecast[] forecasts;
    private InteropStorage interopStorage;

    protected override async Task OnInitAsync()
    {
        interopStorage = new InteropStorage(js);
        forecasts = (await Http.GetJsonAsync<WeatherForecast[]>("/weather.json"));
        var key = "forecasts";
        try
        {
            await SessionStorage.SetItem<WeatherForecast[]>(key, forecasts);
            await LocalStorage.SetItem<WeatherForecast[]>(key, forecasts);

            var fromIopSession = await interopStorage.GetSessionStorage(key);
            var fromIopLocal = await interopStorage.GetLocalStorage(key);

            var iopSessionHasQuotes = fromIopSession.StartsWith("\"") || fromIopSession.EndsWith("\"");
            var iopLocalHasQuotes = fromIopLocal.StartsWith("\"") || fromIopLocal.EndsWith("\"");

            Console.WriteLine($"Interop get from session storage contains extra quotes: {iopSessionHasQuotes}");
            Console.WriteLine(fromIopSession);
            Console.WriteLine($"Interop get from local storage contains extra quotes: {iopLocalHasQuotes}");
            Console.WriteLine(fromIopLocal);

            var fromSession = await SessionStorage.GetItem<WeatherForecast[]>(key);
            var fromLocal = await LocalStorage.GetItem<WeatherForecast[]>(key);

            Console.WriteLine("From session storage:");
            Console.WriteLine(Json.Serialize(fromSession));
            Console.WriteLine("From local storage:");
            Console.WriteLine(Json.Serialize(fromLocal));

           

            Console.WriteLine($"Total in session: {await SessionStorage.Length()}");
            Console.WriteLine($"Total in local: {await LocalStorage.Length()}");

            Console.WriteLine("Removing from session storage...");
            await SessionStorage.RemoveItem(key);
            Console.WriteLine("Removing from local storage...");
            await LocalStorage.RemoveItem(key);

            Console.WriteLine($"Total in session: {await SessionStorage.Length()}");
            Console.WriteLine($"Total in local: {await SessionStorage.Length()}");
        }
        catch (Exception ex)
        {
             Console.WriteLine(ex.Message);

        }
    }

    class WeatherForecast
    {
        public DateTime Date { get; set; }
        public int TemperatureC { get; set; }
        public int TemperatureF { get; set; }
        public string Summary { get; set; }
    }
}
